#mapPanel {
    width: 800px;
    height: 800px;
}

#systemMap {
    background: black;
    width: 100%;
    height: 200px;
}

.tab-pane {
    padding: 5px;
}

.position-relative {
    position: relative;
}

.segments {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.segment {
    width: 20%;
    height: 100%;
    display: inline-block;
    border-right: 2px solid white;
}

label {
    width: 100%;
}

.accuracy-box {
    height: 4em;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.accuracy-bar {
    width: 100%;
    background-color: #d8edf1;
    position: absolute;
    bottom: 0;
}

.accuracy-bar-label {
    width: 14.2857%;
    height: 100%;
    display: inline-block;
    position: relative;
    border-right: 1px solid rgba(0,0,0,.125);
}

.accuracy-bar-label:last-child {
    border-right: none;
}

.list-group-item.battle-zone {
    min-height: 6rem;
}

.card.battle-group {
    display: inline-block;
    width: 10rem;
    margin: 0rem 0.5rem;
}

.battle-group-enemy {
    border-color: #dc3545;
    background-color: #f7d4d7;
}

.battle-group-ally {
    border-color: #007bff;
    background-color: #cce5ff;
}
